<!-- import html2pdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
<script src="/script/quotePrint.js" defer></script>


<% layout('layouts/boilerplate') %>
<style>
    body {
        background-color: rgb(39, 40, 40);
    }
    </style>
<div class="container-fluid mb-3">
 <div class="row">
   
    <div class="col-9">
        <h1 class="title-header text-light"><%= events.name %></h1>
        <hr class="border border-primary border-1 opacity-75">
        <h2 class="text-primary"><%= events.location %></h2>
        <h3 class="text-light"><%= events.date %></h3>     
    </div>
   
    <!-- status badge -->
    <div class="col">
      <% if(events.status == 'Upcoming'){ %>
        <div class="card text-bg-primary" style="width: 10rem;" id="statusCard">
            <div class="card-body">
                <h5 class="card-title" id="cardText">UPCOMING</h5>
            </div>
          </div>
      <% }else if(events.status == 'Ongoing'){ %>
        <div class="card text-bg-warning" style="width: 10rem;" id="statusCard">
          <div class="card-body">
              <h5 class="card-title" id="cardText">ONGOING</h5>
          </div>
        </div>
      <% }else{ %>
        <div class="card text-bg-success" style="width: 10rem;" id="statusCard">
          <div class="card-body">
              <h5 class="card-title" id="cardText">COMPLETED</h5>
          </div>
        </div>
      <% } %>
    </div>
 </div> 
</div> 


<!-- accordion -->
<div class="container-fluid card bg-dark mb-3 p-2 shadow-lg">

  <%- include('../partials/detail-tabnav') %></div>

</div>

<!-- update project status -->
<div class="container-fluid w-30">
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Status
  </button>
  <ul class="dropdown-menu">
    <form action="/status/upcoming/<%= events._id %>" method="POST"><button class="dropdown-item" id="ubtn">Upcoming</button></form>
    <form action="/status/Ongoing/<%= events._id %>" method="POST"><button class="dropdown-item" id="obtn">Ongoing</button></form>
    <form action="/status/complete/<%= events._id %>" method="POST"><button class="dropdown-item" id="cbtn">Completed</button></form>
  </ul>
</div>
</div>




